@{
    ViewData["Title"] = "**************************Contac us ! ! !***********************";
    <table bgcolor="#2F4F4F"></table>
}
<h1>@ViewData["Title"]</h1>

<br style=“line-height:200;”>

<tr>
    <td><br /></td>
</tr>
<div>
    <center><h3>Our E-mail adress:</h3></center>
</div>

<tr>
    <td><br /></td>
</tr>
<div>
    <center><h1>fiditenemini@mail.com</h1></center>
</div>
<tr>
    <td><br /></td>
</tr>
<center>

    <img src="~/css/Images/guitar.jpg" width="100" height="100">
</center>
<tr>
    <td><br /></td>
</tr>
<div>
    <center><h3>Phone nummber:</h3></center>
</div>
<tr>
    <td><br /></td>
</tr>
<div>
    <center><h1>+460736105689</h1></center>
</div>
<tr>
    <td><br /></td>
</tr>

<p><h1><bold>****************************************************************</bold></h1></p>





