@{
    ViewData["Title"] = "Home Page";
}

<head>
    <center><img src="~/css/Images/coollogo_com-199501340.jpg" height="250" width="1000" /></center>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>

    <center>

        <img src="~/css/Images/guitar.jpg" width="100" height="100">
    </center>
    <tr>
        <td><br /></td>
    </tr>



</head>

   
<div >
    <h3>
        Fidite Nemini is a new formed band by a couple of friends with common
        history in common music taste and cooperation in a couple of bands before.
        Andy and Marijan being tired of playing in a band that was going nowhere fast
        put their heads together, found two more guys more then perfect for the upcomming job
        and formed this power machine which is ready to set off like a fueled up rocket.
    </h3>
     
   
</div>
