@{
    ViewData["Title"] = "Members";
}
<h1>@ViewData["Title"]</h1>

<br style=“line-height:200;”>

<div>
    <center><p><h1>------   Johan Karlsson  ------</h1></p></center>
    <img src="~/css/Images/Johan/Johan1.jpg" />
    <p>
        <h3>
            Bass and vocals.
            Been playing in several bands since 1984 but it was 1988 it all got serious with my first band called "Instinct" after that.
            I have been a member of bands like: "Valley", "Virgin Sin", "Dark Ages", "Santure", "Blizzard Of Us"
            (Tribute To Ozzy Osborne", "Lock N Load" and my own project: "Jay Sharon Project".
            My rolemodels inspiration to what I do today is: Steve Harris and Bruce Dickinson from Iron Maiden.
        </h3>
    </p>
</div>
<tr>
    <td><br /></td>
</tr>
<center>

    <img src="~/css/Images/guitar.jpg" width="100" height="100">
</center>
<tr>
    <td><br /></td>
</tr>
<div>
    <center><p><h1>------   Marijan Pobric  ------</h1></p></center>
    <center>
        <img src="~/css/Images/Marijan/1271368_10203274682329295_612521847_o.jpg" height="700" width="700" />
    </center>
    <p>
        <h3>
            Drums and vocals.
            Played for the first time (other than on pots and pans) 2005 in several tribute bands.
            Got thinking only about drumms in 2008 with a cover bant "The CrossRoads" (stuck with them till 2014).
            In the meentime the first band "Crash" , "angel..." was jumping from blues to metal and back to pop,
            really got stuck on hard rock and roc ´n roll. Don´t think I have role models per say but on the top of
            the food chain for me was always: Buddy Rich, Manu Katche, Phil Rudd, Rick Alen...
        </h3>
    </p>
</div>
<tr>
    <td><br /></td>
</tr>
<center>

    <img src="~/css/Images/guitar.jpg" width="100" height="100">
</center>
<tr>
    <td><br /></td>
</tr>

<center><p><h1>------   Andy Whitehead  ------</h1></p></center>
<center>
    <img src="~/css/Images/Andy/203323748_238297101076605_1877909552707316960_n.jpg" />
</center>
</div>
<tr>
    <td><br /></td>
</tr>
<center>

    <img src="~/css/Images/guitar.jpg" width="100" height="100">
</center>
<tr>
    <td><br /></td>
</tr>
<div>
    <center><p><h1>------   Simon Söderberg  ------</h1></p></center>
    <center>
        <img src="~/css/Images/Simon/201808725_788612292023376_8844406100907364213_n.jpg" height="1100" width="700" />
    </center>
</div>
